<h1>About bloccit</h1>
<p>Created by: Me</p>
<%= link_to "My LinkedIn Page", "https://www.linkedin.com/profile/view?id=28983070&authType=NAME_SEARCH&authToken=-YHj&locale=en_US&srchid=289830701436199385678&srchindex=1&srchtotal=5&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A289830701436199385678%2CVSRPtargetId%3A28983070%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue", class: "social-btn" %>