<!--
    Checkpoint #33 - CRUD
    
    Instance variables created in a controller method are available in its
    associated view. That is, since '@posts' was created and assigned in the
    'index' method, you can use it in the 'index' view.
-->
<h1>All Posts</h1>
<% @posts.each do |post| %>
    <!--
        "If we call 'link_to' with the object to which we're linking as a second
        argument, the 'link_to' method will detect the object, parst its id, and
        create the path using the id. Using this shortcut, we can simplify our
        page.
    <p>&lt;%= link_to post.title, post_path(post.id) %&gt;</p>
    -->
    <!-- <p>&lt;%= link_to post.title, post %&gt;</p> ->
    
    <!--
        We can use (Twitter) Bootstrap to help clean things up.
    -->
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to post.title, post %>
            </h4>
        </div>
    </div>
<% end %>