<!--
    When you refresh the page, you should see something like this:
    
    {"action"=>"show", "controller"=>"posts", "id"=>"1"}
    
    ...this hash contains information on which controller we're in, and which
    action. It also has the 'id' of the post on which we clicked (and which is
    encoded in the URL).
-->

<!-- &lt;%= params %&gt; -->
<!--
    Replace previous code with post-specific code.
-->
<h1><%= @post.title %></h1>

<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>

<p><%= @post.body %></p>