<!--
    When you refresh the page, you should see something like this:
    
    {"action"=>"show", "controller"=>"posts", "id"=>"1"}
    
    ...this hash contains information on which controller we're in, and which
    action. It also has the 'id' of the post on which we clicked (and which is
    encoded in the URL).
-->

<!-- &lt;%= params %&gt; -->
<!--
    Checkpoint #33 - CRUD
    Replace previous code with post-specific code.
-->
<!--
    Checkpoint #43 - Post Markdown
    
<h1>&lt;%= @post.title %&gt;</h1>
-->
<h1><%= markdown_to_html @post.title %></h1>

<!-- Checkpoint #35 - More CRUD, the 'link_to statement -->
<!-- Checkpoint #39 - Authorization, the surrouding 'if' -->
<!--
    Checkpoint #40 - Topics and Posts
    
    Add (Twitter) Bootstrap CSS.
    Modified the 'link_to' statement.
&lt;% if policy(@post).edit? %&gt;
    &lt;%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %&gt;
&lt;% end %&gt;
<p>&lt;%= @post.body %&gt;</p>
-->

<!--
    Checkpoint #46 - Comments
    
    View changes:
        - Create a '_comment.html.erb' partial in the comments directory. Use it
          in the 'posts#show' view to show the body of each comment already
          associated with the post. Whereas our above form partial should render
          the form for submitting a new comment, this comment partial should
          render the relevant information for a single preexisting comment
          associated with our '@post'. Because this partial renders a single
          comment, we need to call it multiple times, rendering a partial for
          each comment in @comments. This is a good candidate for an each loop.

<div class="row">
    <div class="col-md-8">
        <!--
            Checkpoint #44 - Uploading Images
            
            Open posts#show and add a user image to a post.
        -->
<!--
        <small>
            &lt;%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? ^&gt;
            submitted &lt;%= time_ago_in_words(@post.created_at) %&gt; ago by
            &lt;%= @post.user.name %&gt;
        </small>
-->
        <!--
            Checkpoint #43 - Post Markdown
        -->    
<!--
        <p>&lt;%= @post.body %&gt;</p>
        <p>&lt;%= markdown_to_html @post.body %&gt;</p>
    </div>
    <div class="col-md-4">
        &lt;% if policy(@post).edit? %&gt;
            &lt;%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %&gt;
        &lt;% end %&gt;
    </div>
</div>
-->

<%= @comments.each do |c| %>
    <!--
    &lt;%= render partial: 'comment', locals: { topic: @topic, post: @post, comment: c } %&gt;
    -->
    <!--
        Checkpoint #46 - Comments
        
        Bonus: Rails has a terse syntax for rendering partials with a collection
        of objects. Once your each loop implementation is working, read section
        3.4.5. Replace the each loop with a single call to render the
        '@comments' collection. For more guidance, see the section on render
        below.
    --->
    <%= render partial: 'comment', collection: c %>
<% end %>