<!--
    When you refresh the page, you should see something like this:
    
    {"action"=>"show", "controller"=>"posts", "id"=>"1"}
    
    ...this hash contains information on which controller we're in, and which
    action. It also has the 'id' of the post on which we clicked (and which is
    encoded in the URL).
-->

<!-- &lt;%= params %&gt; -->
<!--
    Checkpoint #33 - CRUD
    Replace previous code with post-specific code.
-->
<h1><%= @post.title %></h1>

<!-- Checkpoint #35 - More CRUD, the 'link_to statement -->
<!-- Checkpoint #39 - Authorization, the surrouding 'if' -->
<!--
    Checkpoint #40 - Topics and Posts
    
    Add (Twitter) Bootstrap CSS.
    Modified the 'link_to' statement.
&lt;% if policy(@post).edit? %&gt;
    &lt;%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %&gt;
&lt;% end %&gt;
<p>&lt;%= @post.body %&gt;</p>
-->
<div class="row">
    <div class="col-md-8">
        <p><%= @post.body %></p>
    </div>
    <div class="col-md-4">
        <% if policy(@post).edit? %>
            <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
        <% end %>
    </div>
</div>